body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, #FCBE00, #FA7B00, #7D0EDE);
}
button {
    background-color: #272A3A;
    height: 75px;
    width: 150px;
    border-radius: 10px;
    color: white;
}
.container {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    /* flex-grow: 1; */
    align-items: center;
}
.game-head {
    /* border: 1px solid lime; */
    display: flex;
    align-self: flex-start;
    align-items: center;
    column-gap: 20px;
}
.game-head div {
    /* border: 1px solid salmon; */
    display: flex;
    flex-direction: column;
    color: white;
}
.game-card {
    background-image: linear-gradient(to bottom right, #7D0EDE, #FA7B00, #FCBE00);
    /* border: 1px solid lime; */
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}
.game-row {
    /* border: 1px solid salmon; */
    display: flex;
}
.fruit-card {
    /* border: 1px solid; */
    padding: 13px;
}



.fruit-card-content {
    position: relative;
    width: 150px;
    height: 150px;
    /* box-shadow: 0 0 15px rgba(0,0,0,0.1); */
    transition: transform 1s;
    transform-style: preserve-3d;
}
  .fruit-card.active .fruit-card-content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.3s;
  }
  
  .fruit-card-front,
  .fruit-card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: white;
    line-height: 300px;
    color: #03446A;
    text-align: center;
    font-size: 60px;
    border-radius: 5px; */
    border-radius: 8px;
    backface-visibility: hidden;
  }
  
  .fruit-card-back {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY( 180deg );
  }
  .fruit-card-back img {
    height: 75px;
    width: 75px;
  }

  .fruit-card-front {
    background-color: #272A3A;;
  }

.unclickable {
    pointer-events: none;
}

.font-style {
    font-family: 'Public Sans', sans-serif;
    font-size: 30px;
    font-weight: 900;
}
.grey {
    color: #757575;
}